.admin_login_section {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.admin_login__hero {
  opacity: 0.7;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: url("https://wallpaperaccess.com/full/13649.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.admin_login {
  position: absolute;
  top: 15%;
  height: 28rem;
  width: 23rem;
  border-radius: 5px;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 1;
  background-color: white;
}

.admin_login__form {
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.login__heading {
  font-family: Poppins;
  font-size: 25px;
  color: var(black-color);
  line-height: 4rem;
  text-decoration: underline;
}
.login__form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
  gap: 2rem;
}
.login__form input {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  font-size: 16px;
  color: black;
  font-family: "Rubik";
  font-weight: bold;
}
.admin_login__btn {
  cursor: pointer;
  margin-top: 1rem;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 20px;
  font-family: rubik;
  /* font-weight: bold; */
  border-radius: 5px;
  color: white;
  border: none;
  background: linear-gradient(to right, #ae0000, #aaaa7c);
}
